<template>
  <v-container>
    <v-row>
        <v-container>
          <v-form ref="form">
            <v-autocomplete
              v-model="source_lang"
              :items="languages"
              label="From"
            ></v-autocomplete>
          </v-form>
          <v-textarea
            v-model = "source"
            filled
            label="From"
            rows="3"
            auto-grow
          ></v-textarea>
        </v-container>
        <v-container>
          <v-form ref="form">
            <v-select
              v-model="target_lang"
              :items="target_languages"
              label="To"
            ></v-select>
          </v-form>
            <v-textarea
              v-model="target"
              disabled
              filled
              label="To"
              rows="3"
              auto-grow
            ></v-textarea>
            <v-textarea
              v-model="target_transliteration"
              disabled
              filled
              label="Transliteration"
              auto-grow
              rows="1"
              v-if="target_transliteration"
            ></v-textarea>
        </v-container>
    </v-row>
    <v-btn
        :disabled="source == ''"
        color="success lighten-1"
        @click="translate"
        >
        Translate
    </v-btn>
  </v-container>
</template>

<script>
  export default {
    name: 'Translator',

    data () {
      return {
        file: undefined,
        source_lang : "Detect Language",
        target_lang : "Arabic",
        source : "Write here.",
        target : "Translation",
        target_transliteration : "",
        spell : undefined,
        lang_codes : {'Detect Language': "auto",
        Afrikaans: "af",
        Albanian: "sq",
        Amharic: "am",
        Arabic: "ar",
        Armenian: "hy",
        Azerbaijani: "az",
        Basque: "eu",
        Belarusian: "be",
        Bengali: "bn",
        Bosnian: "bs",
        Bulgarian: "bg",
        Catalan: "ca",
        Cebuano: "ceb",
        'Chinese (Simplified)': "zh-CN",
        'Chinese (Traditional)': "zh-TW",
        Corsican: "co",
        Croatian: "hr",
        Czech: "cs",
        Danish: "da",
        Dutch: "nl",
        English: "en",
        Esperanto: "eo",
        Estonian: "et",
        Finnish: "fi",
        French: "fr",
        Frisian: "fy",
        Galician: "gl",
        Georgian: "ka",
        German: "de",
        Greek: "el",
        Gujarati: "gu",
        'Haitian Creole': "ht",
        Hausa: "ha",
        Hawaiian: "haw",
        Hebrew: "he",
        Hindi: "hi",
        Hmong: "hmn",
        Hungarian: "hu",
        Icelandic: "is",
        Igbo: "ig",
        Indonesian: "id",
        Irish: "ga",
        Italian: "it",
        Japanese: "ja",
        Javanese: "jw",
        Kannada: "kn",
        Kazakh: "kk",
        Khmer: "km",
        Korean: "ko",
        Kurdish: "ku",
        Kyrgyz: "ky",
        Lao: "lo",
        Latin: "la",
        Latvian: "lv",
        Lithuanian: "lt",
        Luxembourgish: "lb",
        Macedonian: "mk",
        Malagasy: "mg",
        Malay: "ms",
        Malayalam: "ml",
        Maltese: "mt",
        Maori: "mi",
        Marathi: "mr",
        Mongolian: "mn",
        'Myanmar (Burmese)': "my",
        Nepali: "ne",
        Norwegian: "no",
        'Nyanja (Chichewa)': "ny",
        Pashto: "ps",
        Persian: "fa",
        Polish: "pl",
        'Portuguese (Portugal", Brazil)': "pt",
        Punjabi: "pa",
        Romanian: "ro",
        Russian: "ru",
        Samoan: "sm",
        'Scots Gaelic': "gd",
        Serbian: "sr",
        Sesotho: "st",
        Shona: "sn",
        Sindhi: "sd",
        'Sinhala (Sinhalese)': "si",
        Slovak: "sk",
        Slovenian: "sl",
        Somali: "so",
        Spanish: "es",
        Sundanese: "su",
        Swahili: "sw",
        Swedish: "sv",
        'Tagalog (Filipino)': "tl",
        Tajik: "tg",
        Tamil: "ta",
        Telugu: "te",
        Thai: "th",
        Turkish: "tr",
        Ukrainian: "uk",
        Urdu: "ur",
        Uzbek: "uz",
        Vietnamese: "vi",
        Welsh: "cy",
        Xhosa: "xh",
        Yiddish: "yi",
        Yoruba: "yo",
        Zulu: "zu",}

      }
    },
    computed : {
      languages : function (){
        return (Object.keys(this.lang_codes));
      },
      target_languages : function (){
        var target = Object.keys(this.lang_codes)
        target.shift()
        return target;
      }
    },

    methods : {
      translate(){
        var translate = require('node-google-translate-skidz');
        if (this.source == ""){
          alert("Need a text to translate")
        }else{
              translate({
              text: this.source,
              source: this.lang_codes[this.source_lang],
              target: this.lang_codes[this.target_lang]
            }, (result) => {
              console.log(result);
              var i
              this.target = result['translation']
              if (result['sentences'][1]){
              this.target_transliteration = result['sentences'][1]['translit']}
              else{this.target_transliteration = ""}
              for(i in this.lang_codes){
              if(this.lang_codes[i] == result['src']){
                      this.source_lang = i
                      }
              }
              
              
            },
            );
          }
        },
        play(){
          console.log(this.spell)
        }
    }
    
  }
</script>
