<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-btn
        text
      >
        <span class="mr-2">Langauge Translation App</span>
      </v-btn>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://www.linkedin.com/in/muhammad-u-47362a113/"
        target="_blank"
        text
      >
        <span class="mr-2">by: Muhammad Ulil 'Azmi</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <Translator/>
    </v-main>
  </v-app>
</template>

<script>
import Translator from './components/Translator';
// var translate = require('node-google-translate-skidz');

// translate({
//   text: 'text',
//   source: 'es',
//   target: 'en'
// }, function(result) {
//   console.log(result);
// });

export default {
  name: 'App',

  components: {
    Translator,
  },

  data: () => ({
    //
  }),
};
</script>
